<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>woskill</title>
  <!-- Path to Library CSS-->
  <link rel="stylesheet" href="../dist/lib/vant/index.css">
  <!-- Path to Library CSS-->
  <link rel="stylesheet" href="../dist/css/main.css">
</head>
<body>
<div class="views" id="courseSortPage" v-cloak>
  <!-- 顶部导航 -->
  <div class="wow-navbar">
    <a href="./index.html" class="logo" v-show="!showSearch"><img src="../dist/images/logo.png" alt=""></a>
    <div class="navbar-search-btn" @click="handleSearchBtnClick" v-show="!showSearch">搜索课程关键词</div>
    <div class="navbar-search" v-show="showSearch">
      <!--show-action-->
      <form action="/">
        <van-search
            ref="search"
            v-model="searchValue"
            placeholder="请输入搜索课程"
            show-action
            @search="handleSearch"
            @cancel="handleSearchCancel"
        ></van-search>
      </form>
    </div>
  </div>
  <!-- 搜索页面 -->
  <div class="wow-search-page" v-show="showSearch">
    <div class="search-hot-box">
      <div class="title">热门搜索</div>
      <ul class="search-hot-list">
        <li v-for="(item, index) in hostCourseList"
            :key="index">
          <a :href="item.url" v-text="item.courseName"></a>
        </li>
      </ul>
    </div>
    <div class="search-sort">
      <a href="./course_sort.html"
         class="van-button van-button--info van-button--round van-button--plain van-button--block btn-sort"
      >查看课程分类</a>
    </div>
  </div>
  <!-- 正文内容 -->
  <div class="page">
    <div class="page-content">
      <!-- 筛选 -->
      <div class="sticky-divide"></div>
      <van-sticky :offset-top="80" class="wow-sticky">
        <div class="sticky-flex">
          <div class="flex-l">
            <template v-if="fatherName != ''">
              在“ <span class="color-blue">{{fatherName}}</span>“分类<template v-if="sonName != ''">，子分类“ <span class="color-blue">{{sonName}}</span>“</template>下找到<span class="color-blue">{{pageInfo.total}}</span>门课程
            </template>
            <template v-else>
              <div style="font-size: 14px; line-height: 20px">全部分类下共<span class="color-blue"> {{pageInfo.total}} </span>门课程</div>
            </template>
          </div>
          <div class="flex-r">
            <span class="icon-sort" @click="handleSortCourse">筛选</span>
          </div>
        </div>
      </van-sticky>
      <!--筛选列表-->
      <section class="course-search-page">
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
          <van-list
              class="wow-course-list list-bg"
              v-model="loading"
              :finished="finished"
              finished-text="没有更多了"
              @load="onLoad">
            <div class="list-item"
                v-for="(item, index) in courseList"
                :key="index">
              <a :href="item.url" class="item-content">
                <div class="item-thumb van-hairline--surround">
                  <img :src="item.imgUrl" alt="">
                </div>
                <div class="item-tag" v-if="item.hot">
                  <span class="tag-mark">热门</span>
                </div>
                <div class="item-info">
                  <div class="info-profile" v-text="item.details"></div>
                </div>
              </a>
            </div>
          </van-list>
        </van-pull-refresh>
      </section>
    </div>
  </div>
  <!--弹窗-->
  <van-popup
      v-model="sortPopup"
      position="right"
      class="wow-popup" @close="handlePopupClose">
    <div class="popup-panel">
      <div class="panel-sort">
        <div class="sort-card van-hairline--bottom">
          <div class="sort-title">分类</div>
          <div class="sort-list">
            <van-button plain hairline round
                        :class="{'active': fatherId === 0 && sonId === 0}"
                        @click="handleParentAllClick">全部</van-button>
            <template v-for="item in fatherList" :key="item.id">
              <van-button plain hairline round
                          @click="handleFatherSort(item)"
                          :class="{active: fatherId === item.id}">{{item.text}}</van-button>
            </template>
          </div>
        </div>
        <div class="sort-card" v-if="fatherId!=0">
          <div class="sort-title">子类</div>
          <div class="sort-list">
            <van-button plain hairline round
                        :class="{'active': sonId === 0}"
                        @click="handleSonAllClick">全部</van-button>
            <template v-if="sonList.length" v-for="item in sonList" :key="item.id">
              <van-button plain hairline round
                          @click="handleChildrenSort(item)"
                          :class="{active: sonId === item.id}">{{item.text}}</van-button>
            </template>
          </div>
        </div>
      </div>
      <van-row class="sort-bar">
        <van-col span="12">
          <van-button type="default" block @click="handleClearSort">清空筛选</van-button>
        </van-col>
        <van-col span="12">
          <van-button type="info" block @click="handleSubSort">确定</van-button>
        </van-col>
      </van-row>
    </div>
  </van-popup>
  <!-- 底部导航 -->
  <van-tabbar v-model="tabbarActive" class="wow-tabbar">
    <van-tabbar-item icon="index" url="./index.html">首页</van-tabbar-item>
    <van-tabbar-item icon="sort" url="./course_sort.html">分类</van-tabbar-item>
    <van-tabbar-item icon="my" url="./my.html">我的</van-tabbar-item>
  </van-tabbar>
</div>

<!-- Path to Library JS-->
<script src="../dist/lib/zepto.min.js"></script>
<script src="../dist/lib/vue.min.js"></script>
<script src="../dist/lib/vant/vant.min.js"></script>
<!-- Path to Library JS-->
<script src="../dist/js/common.js"></script>
<script src="../dist/js/course_sort.js"></script>
</body>
</html>
