<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>woskill</title>
  <!-- Path to Library CSS-->
  <link rel="stylesheet" href="../dist/lib/vant/index.css">
  <link rel="stylesheet" href="../dist/lib/video/video-js.css">
  <!-- Path to Library CSS-->
  <link rel="stylesheet" href="../dist/css/main.css">
</head>
<body>
<div class="views" id="courseDetails" v-cloak>
  <!-- 顶部导航 -->
  <div class="wow-navbar">
    <a href="javascript:history.back(-1)" class="nav-back" style="margin-right: 0">
      <i class="icon-back"></i>
      <span class="navbar-title van-ellipsis" v-text="courseInfo.courseName"></span>
    </a>
  </div>
  <!-- 正文内容 -->
  <div class="page with-navbar2">
    <div class="page-content">
      <!-- unitType 0视频、1音频、2图片、3pdf -->
      <section class="wow-video-wrap" v-if="activeUnit && (activeUnit.unitType == 0 || activeUnit.unitType == 1)">
        <video id="wow-video"
               class="video-js my-vj-skin"
               controls="controls"
               preload="none"
               :poster="activeUnit.unitCoverImg"
               data-setup="{}">
          <source :src="activeUnit.unitVideoUrl" type="video/mp4">
        </video>
      </section>
      <section class="cd-video-nam van-hairline--bottom" v-if="activeUnit" v-text="activeUnit.unitName"></section>
      <van-collapse v-model="activeNames"
                    class="course-chapter"
                    v-if="chapterList.length">
        <van-collapse-item v-for="(chapter, index) in chapterList"
                           :name="chapter.chapterId"
                           :key="chapter.chapterId"
                           class="chapter-item">
          <span slot="right-icon" class="collapse-icon"></span>
          <div slot="title" class="chapter-title">
            <div class="title-name">第{{index + 1}}章</div>
            <div class="title-text van-ellipsis" v-text="chapter.chapterName"></div>
          </div>
          <div class="chapter-list" v-if="chapter.unitList.length">
            <div class="list-item" v-for="(unit, index) in chapter.unitList" :key="unit.unitId"
                 :class="{active: unit.unitId == activeUnitId, completed: unit.unitCompleted == 1}">
              <!--单元跳转的地址-->
              <a v-if="unit.unitType == 0 || unit.unitType == 1" :href="'./course_details.html?courseId=' + courseId + '&chapterId=' + chapter.chapterId + '&unitId=' + unit.unitId"
                 class="item-link">
                <span v-if="unit.unitType == 0" class="icon icon-video"></span>
                <span v-if="unit.unitType == 1" class="icon icon-audio"></span>

                <div class="link-text van-ellipsis" v-text="unit.unitName"></div>
                <span class="link-time">{{ unit.unitTime }}min</span>
              </a>
                <!-- 图片、pdf直接下载 -->
                <a v-else :href="unit.unitType == 4 ? unit.unitFileUrl : 'javascript:;'"
                   @click="submitStudyResult(unit)"
                   download=""
                   class="item-link">
                    <span class="icon icon-image"></span>

                    <div class="link-text van-ellipsis" v-text="unit.unitName"></div>
                    <span class="link-time">{{ unit.unitTime }}min</span>
                </a>
            </div>
          </div>
        </van-collapse-item>
      </van-collapse>
      <!--课程详情-->
      <section class="cd-section" v-if="activeUnit">
        <div class="cd-section-header">
          <span class="header-title">课程详情</span>
        </div>
        <div class="cd-details-bar" v-if="courseInfo.courseExternal || courseInfo.coursePDF">
          <van-row>
            <van-col span="11">
              <div class="wow-button w-free">
                <a :href="courseInfo.courseExternal" v-if="courseInfo.courseExternal" class="van-button van-button--info van-button--block van-button--round">进入课程学习</a>
              </div>
            </van-col>
            <van-col span="13" class="align-right">
              <a :href="courseInfo.coursePDF" v-if="courseInfo.coursePDF" class="cd-download-button">下载完整版PDF介绍</a>
            </van-col>
          </van-row>
        </div>
        <div class="cd-details-content" v-html="courseInfo.courseDescription"></div>
      </section>
    </div>
  </div>
  <!-- 底部导航 -->
  <van-tabbar v-model="tabbarActive" class="wow-tabbar">
    <van-tabbar-item icon="course" url="./my_course.html">课程</van-tabbar-item>
    <van-tabbar-item icon="exam" url="./my_exam.html">考试</van-tabbar-item>
    <van-tabbar-item icon="record" url="./my_record.html">学习记录</van-tabbar-item>
  </van-tabbar>
</div>

<!-- Path to Library JS-->
<script src="../dist/lib/zepto.min.js"></script>
<script src="../dist/lib/vue.min.js"></script>
<script src="../dist/lib/vant/vant.min.js"></script>

<script src="../dist/lib/video/video.js"></script>
<script src="../dist/lib/video/videojs-contrib-hls.min.js"></script>
<!-- Path to Library JS-->
<script src="../dist/js/common.js"></script>
<script src="../dist/js/course_details.js"></script>
</body>
</html>
