<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>woskill</title>
  <!-- Path to Library CSS-->
  <link rel="stylesheet" href="../dist/lib/vant/index.css">
  <!-- Path to Library CSS-->
  <link rel="stylesheet" href="../dist/css/main.css">
</head>
<body>
<div class="views" id="myCoursePage" v-cloak>
  <!-- 顶部导航 -->
  <div class="wow-navbar">
    <a href="./index.html" class="logo" v-show="!showSearch"><img src="../dist/images/logo.png" alt=""></a>
    <div class="navbar-search-btn" @click="handleSearchBtnClick" v-show="!showSearch">搜索课程关键词</div>
    <div class="navbar-search" v-show="showSearch">
      <!--show-action-->
      <form action="/">
        <van-search
            ref="search"
            v-model="searchValue"
            placeholder="请输入搜索课程"
            show-action
            @search="handleSearch"
            @cancel="handleSearchCancel"
        ></van-search>
      </form>
    </div>
  </div>
  <!-- 搜索页面 -->
  <div class="wow-search-page" v-show="showSearch">
    <div class="search-hot-box">
      <div class="title">热门搜索</div>
      <ul class="search-hot-list">
        <li v-for="(item, index) in hostCourseList"
            :key="index">
          <a :href="item.url" v-text="item.courseName"></a>
        </li>
      </ul>
    </div>
    <div class="search-sort">
      <a href="./course_sort.html"
         class="van-button van-button--info van-button--round van-button--plain van-button--block btn-sort"
      >查看课程分类</a>
    </div>
  </div>
  <!-- 正文内容 -->
  <div class="page">
    <div class="page-content">
      <!-- 下来菜单 -->
      <van-sticky class="course-search-sticky">
        <div class="course-search-tabs van-hairline--bottom">
          <van-row>
            <van-col span="8" class="tabs-item" :class="courseType == 0 ? 'active': ''">
              <van-dropdown-menu active-color="#667ce3">
                <van-dropdown-item v-model="classType"
                                   :options="classTypeList"
                                   @closed="reloadClassType"
                                   @change="changeClassType"></van-dropdown-item>
              </van-dropdown-menu>
            </van-col>
            <van-col v-show="classType == 0" span="8" class="tabs-item" :class="courseType == 1 ? 'active': ''">
              <span @click="changeCourseType(1)">选修</span>
            </van-col>
            <van-col v-show="classType == 0" span="8" class="tabs-item" :class="courseType == 2 ? 'active': ''">
              <span @click="changeCourseType(2)">必修</span>
            </van-col>
          </van-row>
        </div>
      </van-sticky>
      <section class="course-search-page">
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
          <van-list
                  class="wow-course-list"
                  v-model="loading"
                  :finished="finished"
                  :finished-text="courseList.length ? '没有更多了' : '暂无课程信息'"
                  @load="onLoad">
            <div class="list-item van-hairline--bottom"
                 v-for="(item, index) in courseList"
                 :key="index">
              <!-- 线上课 -->
              <a :href="(item.complete == 0 || item.complete == 1) ? item.url : 'javascript:;'" class="item-content" v-if="classType == 0">
                <div class="item-thumb van-hairline--surround">
                  <img :src="item.imgUrl" alt="">
                </div>
                <div class="item-info">
                  <div class="info-title van-multi-ellipsis--l2">
                    <!-- 完成状态 -->
                    <van-tag color="#5eb6d7" v-if="item.complete == 0">已完成</van-tag>
                    <van-tag color="#d7b15e" v-else-if="item.complete == 1">未完成</van-tag>
                    <van-tag color="#999999" v-else>过期</van-tag>

                    <span v-text="item.details">item.details</span>
                  </div>
                  <div class="info-date">
                    <span class="date">到期时间：<span v-text="item.dueDate"></span></span>
                    <!-- 课程类型 -->
                    <span class="type" v-if="item.type == 0">过期</span>
                    <span class="type blue" v-else-if="item.type == 1">选修</span>
                    <span class="type orange" v-else>必修</span>
                  </div>
                </div>
              </a>
              <!-- 线下课 -->
              <div class="offline-content" v-if="classType == 1">
                <div class="oc-title van-ellipsis">
                  <van-tag color="#5eb6d7" v-if="item.complete == 1">已预约</van-tag>
                  <van-tag color="#d7b15e" v-else>未预约</van-tag>

                  <span v-text="item.details"></span>
                </div>
                <div class="oc-time van-ellipsis">时间：2021-04-20 16:04 至 2021-05-01 16:04</div>
                <div class="oc-position van-ellipsis">地点：东方广场E3座1154E3座1154E3座</div>
                <div class="oc-op align-right">
                  <a href="javascript:;" class="oc-link" v-if="item.complete == 0" @click="handleBookCourse(item)">预约</a>
                  <a href="javascript:;" class="oc-link disabled" v-if="item.complete == 1">已预约</a>
                </div>
              </div>

<!--              <div class="item-content" v-if="classType == 1">-->
<!--                <div class="item-thumb van-hairline&#45;&#45;surround">-->
<!--                  <img :src="item.imgUrl" alt="">-->
<!--                </div>-->
<!--                <div class="item-info">-->
<!--                  <div class="info-title van-multi-ellipsis&#45;&#45;l2">-->
<!--                    <van-tag color="#5eb6d7" v-if="item.complete == 1">已预约</van-tag>-->
<!--                    <van-tag color="#999999" v-else>未预约</van-tag>-->

<!--                    <span v-text="item.details">item.details</span>-->
<!--                  </div>-->
<!--                  <div class="item-op" v-if="item.complete == 0">-->
<!--                    <a href="javascript:;" class="item-link" @click="handleBookCourse(item)">预约</a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </van-list>
        </van-pull-refresh>
      </section>
    </div>
  </div>
  <!-- 底部导航 -->
  <van-tabbar v-model="tabbarActive" class="wow-tabbar">
    <van-tabbar-item icon="course" url="./my_course.html">课程</van-tabbar-item>
    <van-tabbar-item icon="exam" url="./my_exam.html">考试</van-tabbar-item>
    <van-tabbar-item icon="record" url="./my_record.html">学习记录</van-tabbar-item>
  </van-tabbar>
</div>
<!-- Path to Library JS-->
<script src="../dist/lib/zepto.min.js"></script>
<script src="../dist/lib/vue.min.js"></script>
<script src="../dist/lib/vant/vant.min.js"></script>
<!-- Path to Library JS-->
<script src="../dist/js/common.js"></script>
<script>
  $(function() {
    var myCoursePage = new Vue({
      el: '#myCoursePage',
      mixins: [searchMixin],
      data: function () {
        return {
          searchValue: '',
          tabbarActive: 0,
          courseType: 0,
          courseList: [], //课程
          loading: false,
          finished: false,
          refreshing: false,
          pageInfo: {
            total:0,
            pageSize: 10,
            pageNo: 1
          },
          classType: 0,
          classTypeList: [
            { text: '线上课', value: 0 },
            { text: '线下课', value: 1 }
          ],
        };
      },
      methods: {
        onLoad: function () {
          var _this = this;
          var _data = {};
          //刷新执行
          if (_this.refreshing) {
            _this.pageInfo.pageNo = 1;
            _this.courseList = [];
            _this.refreshing = false;
          }

          if (_this.classType == 0) {
            _data = { classType: _this.classType, courseType: _this.courseType, pageNo: _this.pageInfo.pageNo}
          } else {
            _data = { classType: _this.classType, pageNo: _this.pageInfo.pageNo}
          }

          //加载数据
          $.ajax({
            url: '../data/my_course.json',
            type: 'post',
            dataType: 'json',
            data: _data,
            success: function (response) {
              if (response.status == 1) {
                if (Array.isArray(response.data.list)) {
                  response.data.list.forEach(function (item) {
                    _this.courseList.push(item)
                  })
                }
                if (_this.courseList.length >= response.data.pageInfo.total) {
                  _this.finished = true;
                }
                _this.pageInfo.pageNo ++;
              }
            },
            complete: function () {
              _this.loading = false;
            }
          })
        },
        onRefresh: function () {
          // 清空列表数据
          this.finished = false;
          // 重新加载数据
          // 将 loading 设置为 true，表示处于加载状态
          this.loading = true;
          this.onLoad();
        },
        changeCourseType: function (courseType) {
          this.courseType = courseType;
          this.refreshing = true;
          this.onRefresh();
        },
        changeClassType:function (value) {
          this.classType = value;
        },
        reloadClassType: function () {
          this.courseType = 0;
          this.refreshing = true;
          this.onRefresh();
        },
        handleBookCourse: function (item) {
          var _this = this;
          var _item = item;

          $.ajax({
            url: '',
            type: 'post',
            dataType: 'json',
            data: { classType: _this.classType, id: _item.id},
            success: function (response) {
              if (response.status == 1) {
                _this.$toast({
                  message: response.msg,
                  onClose: function () {
                    _item.complete = 1;
                  }
                });
              } else {
                _this.$toast(response.msg);
              }
            }
          })
        }, // 预约线下课
      }
    });
  })
</script>
</body>
</html>
