<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>woskill</title>
    <!-- Path to Library CSS-->
    <link rel="stylesheet" href="../dist/lib/vant/index.css">
    <!-- Path to Library CSS-->
    <link rel="stylesheet" href="../dist/css/main.css">
</head>
<body>
<div class="views" id="testPage" v-cloak>
    <!-- 正文内容 -->
    <div class="page page-test">
        <div class="page-content">
            <div style="height: 50px"></div>
            <!-- 测试中 -->
            <section class="question-timing-modular" style="display: none">
                <div class="bg">
                    <div class="info">
                        <div class="inner">
                            <div class="title">Elearning试卷测试</div>
                            <div class="time">倒计时：08：59</div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 完成测试 -->
            <section class="question-result-modular" style="display: none">
                <div class="qr-bg">
                    <div class="qr-info">
                        <div class="qri-l">
                            <div class="qri-l-icon"></div>
                            <div class="qri-l-info">
                                <h3>Elearning</h3>
                                <strong>试卷测试</strong>
                            </div>
                        </div>
                        <div class="qri-r">
                            <p class="van-ellipsis">答题人：George.cheng</p>
                            <p>总分：19分</p>
                            <p><strong>得分：10分</strong></p>
                        </div>
                    </div>
                </div>
                <div class="qr-date">
                    <span>交卷时间：2021-05-20 13:30</span>
                    <span>用时：10分钟</span>
                </div>
                <div class="qr-detail">
                    <div class="qrd-table">
                        <van-row class="qrd-hd">
                            <van-col span="6">单选题</van-col>
                            <van-col span="6">多选题 </van-col>
                            <van-col span="6">判断题</van-col>
                            <van-col span="6">填空题</van-col>
                        </van-row>
                        <van-row class="qrd-bd">
                            <van-col span="6">10分</van-col>
                            <van-col span="6">8分</van-col>
                            <van-col span="6">6分</van-col>
                            <van-col span="6">2分</van-col>
                        </van-row>
                    </div>
                </div>
            </section>
            <!-- 问题区域 -->
            <section class="question-modular" v-if="paperInfo.length">
                <!-- 1 选择、 2 多选、 3 判断、 4 填空 -->
                <div class="question-type" v-for="(questions, index) in paperInfo">
                    <!-- 选择 -->
                    <single-choice-panel v-if="questions.question_type == 1" :questions="questions"></single-choice-panel>
                </div>
            </section>
        </div>
    </div>
    <van-tabbar class="test-tabbar van-hairline--top" style="display: none">
        <van-button round block color="#667ec3">提交</van-button>
    </van-tabbar>
</div>

<script type="text/html" id="tplSingleChoicePanel">
    <div class="question-type">
        <div class="question-title"><span>单选题</span>（共<em>{{ questions.question_num }}</em>题，共<em>{{ questions.question_score }}</em>分）</div>
        <single-choice v-for="(question, index) in questions.question_list" :index="index + 1" :question="question"></single-choice>
    </div>
</script>
<script type="text/html" id="tplSingleChoice">
    <div class="question-item">
        <div class="question-card">
            <div class="card-header van-hairline--bottom">
                <div class="l">
                    <strong class="title">{{ index }}.{{ question.question_name }}</strong>
                </div>
                <div class="r">
                    <span class="mark">{{ question.question_score }}分</span>
                </div>
            </div>
            <div class="card-body">
                <van-radio-group v-model="radio" class="my-radio">
                    <van-radio v-for="(answer, index) in question.answer_list" name="answer.id">{{ answer.flag }}.{{ answer.content }}</van-radio>
                </van-radio-group>
            </div>
        </div>
        <div class="question-result" style="display: none">正确答案是<span class="color-green">C</span>，你的答案是<span class="color-red">B</span>，你答错了</div>
    </div>
</script>

<!-- Path to Library JS-->
<script src="../dist/lib/zepto.min.js"></script>
<script src="../dist/lib/vue.min.js"></script>
<script src="../dist/lib/vant/vant.min.js"></script>
<!-- Path to Library JS-->
<script src="../dist/js/test.js"></script>
</body>
</html>
