<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>woskill</title>
    <!-- Path to Library CSS-->
    <link rel="stylesheet" href="../dist/lib/vant/index.css">
    <!-- Path to Library CSS-->
    <link rel="stylesheet" href="../dist/css/main.css">
</head>
<body>
<div class="views" id="testPage" v-cloak>
    <!-- 正文内容 -->
    <div class="page page-test">
        <div class="page-content">
            <!-- 测试中 -->
            <section class="question-timing-modular" v-if="isAnswer == 0">
                <div class="bg">
                    <div class="info">
                        <div class="inner">
                            <div class="title van-multi-ellipsis--l2">{{paperName}}</div>
                            <div class="time">倒计时：<van-count-down :time="totalTime"
                                                                  format="mm:ss"
                                                                  @change="timeChange"
                                                                  @finish="timeFinished"></van-count-down></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 完成测试 -->
            <section class="question-result-modular" v-if="isAnswer == 1">
                <div class="qr-bg">
                    <div class="qr-info">
                        <div class="qri-l">
                            <div class="qri-l-icon"></div>
                            <div class="qri-l-info van-multi-ellipsis--l2">{{paperName}}</div>
                        </div>
                        <div class="qri-r">
                            <p class="van-ellipsis">答题人：{{userName}}</p>
                            <p>总分：{{totalScore}}分</p>
                            <p><strong>得分：{{getScore}}分</strong></p>
                        </div>
                    </div>
                </div>
                <div class="qr-date">
                    <span>交卷时间：{{dateTime}}</span>
                    <span>用时：{{takenTime}}分钟</span>
                </div>
                <div class="qr-detail">
                    <div class="qrd-table">
                        <van-row class="qrd-hd">
                            <van-col span="6">单选题</van-col>
                            <van-col span="6">多选题 </van-col>
                            <van-col span="6">判断题</van-col>
                            <van-col span="6">填空题</van-col>
                        </van-row>
                        <van-row class="qrd-bd">
                            <van-col span="6">{{singleScore}}分</van-col>
                            <van-col span="6">{{multipleScore}}分</van-col>
                            <van-col span="6">{{judgeScore}}分</van-col>
                            <van-col span="6">{{fillScore}}分</van-col>
                        </van-row>
                    </div>
                </div>
            </section>
            <!-- 问题区域 -->
            <section class="question-modular">
                <!-- 1 单选、 2 多选、 3 判断、 4 填空 -->
                <div class="question-type" v-for="item in questions" :key="item.id">
                    <div class="question-title"><span>{{item.question_type_name}}</span>（共<em>{{item.question_num}}</em>题，共<em>{{item.question_score}}</em>分）</div>
                    <template v-for="(question, index) in item.question_list">
                        <!-- 单选 -->
                        <single v-if="item.question_type === QUESTION_TYPES.SINGLE"
                            ref="questionItem"
                            :type-id="item.id"
                            :type="item.question_type"
                            :is-answer="isAnswer"
                            :index="index + 1"
                            :question="question">
                        </single>
                        <!-- 多选 -->
                        <multiple v-if="item.question_type === QUESTION_TYPES.MULTIPLE"
                              ref="questionItem"
                              :type-id="item.id"
                              :type="item.question_type"
                              :is-answer="isAnswer"
                              :index="index + 1"
                              :question="question">
                        </multiple>
                        <!-- 判断 -->
                        <judge v-if="item.question_type === QUESTION_TYPES.JUDGE"
                              ref="questionItem"
                              :type-id="item.id"
                              :type="item.question_type"
                              :is-answer="isAnswer"
                              :index="index + 1"
                              :question="question">
                        </judge>
                        <!-- 填空 -->
                        <fill v-if="item.question_type === QUESTION_TYPES.FILL"
                              ref="questionItem"
                              :type-id="item.id"
                              :type="item.question_type"
                              :is-answer="isAnswer"
                              :index="index + 1"
                              :question="question">
                        </fill>
                    </template>
                </div>
            </section>
        </div>
    </div>
    <van-tabbar class="test-tabbar van-hairline--top" v-if="isAnswer == 0">
        <van-button round block color="#667ec3" @click="onSubmitBtnClick">提交</van-button>
    </van-tabbar>
</div>
<script type="text/html" id="single">
<div class="question-item">
    <div class="question-card">
        <div class="card-header van-hairline--bottom">
            <div class="l">
                <strong class="title">{{index}}.{{question.question_name}}</strong>
            </div>
            <div class="r">
                <span class="mark">{{question.question_score}}分</span>
            </div>
        </div>
        <div class="card-body">
            <van-radio-group v-model="model" class="my-radio" :disabled="isAnswer == 1">
                <van-radio v-for="answer in question.answer_list" :key="answer.value" :name="answer.value">
                {{answer.flag}}.{{answer.content}}
                </van-radio>
            </van-radio-group>
        </div>
    </div>
    <div class="question-result" v-if="isAnswer == 1">
        正确答案是<span class="color-green">{{getDisplayValue(question.user_answer)}}</span>，
        <template v-if="question.correct == 0">你的答案是<span class="color-red">{{getDisplayValue(question.right_answer)}}</span>，你答错了</template>
        <template v-if="question.correct == 1">你答对了</template>
    </div>
</div>
</script>
<script type="text/html" id="multiple">
    <div class="question-item">
        <div class="question-card">
            <div class="card-header van-hairline--bottom">
                <div class="l">
                    <strong class="title">{{index}}.{{question.question_name}}</strong>
                </div>
                <div class="r">
                    <span class="mark">{{question.question_score}}分</span>
                </div>
            </div>
            <div class="card-body">
                <van-checkbox-group v-model="model" class="my-checkbox" :disabled="isAnswer == 1">
                    <van-checkbox shape="square" v-for="answer in question.answer_list" :key="answer.value" :name="answer.value">
                    {{answer.flag}}.{{answer.content}}
                    </van-checkbox>
                </van-checkbox-group>
            </div>
        </div>
        <div class="question-result" v-if="isAnswer == 1">
            正确答案是<span class="color-green">{{getDisplayValue(question.user_answer)}}</span>，
            <template v-if="question.correct == 0">你的答案是<span class="color-red">{{getDisplayValue(question.right_answer)}}</span>，你答错了</template>
            <template v-if="question.correct == 1">你答对了</template>
        </div>
    </div>
</script>
<script type="text/html" id="judge">
<div class="question-item">
    <div class="question-card">
        <div class="card-header van-hairline--bottom">
            <div class="l">
                <strong class="title">{{index}}.{{question.question_name}}</strong>
            </div>
            <div class="r">
                <span class="mark">{{question.question_score}}分</span>
            </div>
        </div>
        <div class="card-body">
            <van-radio-group v-model="model" class="my-radio" :disabled="isAnswer == 1">
                <van-radio v-for="answer in question.answer_list" :key="answer.value" :name="answer.value">
                {{answer.flag}}.{{answer.content}}
                </van-radio>
            </van-radio-group>
        </div>
    </div>
    <div class="question-result" v-if="isAnswer == 1">
        正确答案是<span class="color-green">{{getDisplayValue(question.user_answer)}}</span>，
        <template v-if="question.correct == 0">你的答案是<span class="color-red">{{getDisplayValue(question.right_answer)}}</span>，你答错了</template>
        <template v-if="question.correct == 1">你答对了</template>
    </div>
</div>
</script>
<script type="text/html" id="fill">
    <div class="question-item">
        <div class="question-card">
            <div class="card-header van-hairline--bottom">
                <div class="fill-title" v-html="questionName"></div>
            </div>
            <div class="card-body fill-card">
                <van-cell-group class="my-field">
                    <van-field v-for="(item, index) in model" :key="index" v-model="model[index]" :label="(index + 1) + '.'" :disabled="isAnswer == 1"></van-field>
                </van-cell-group>
            </div>
        </div>
        <div class="question-result" v-if="isAnswer == 1">
            <div v-for="(ans, index) in question.answers" :key="index">
            {{index + 1}}.正确答案是<span class="color-green">{{ans.right_answer}}</span>，
            <template v-if="ans.correct == 0">你的答案是<span class="color-red">{{ans.user_answer}}</span>，你答错了</template>
            <template v-if="ans.correct == 1">你答对了</template>
            </div>
        </div>
    </div>
</script>
<!-- Path to Library JS-->
<script src="../dist/lib/zepto.min.js"></script>
<script src="../dist/lib/vue.min.js"></script>
<script src="../dist/lib/vant/vant.min.js"></script>
<!-- Path to Library JS-->
<script>
    var QUESTION_TYPES = {
        SINGLE: 1,
        MULTIPLE: 2,
        JUDGE: 3,
        FILL: 4
    };

    var tplSingle = $('#single').html();
    var tplMultiple = $('#multiple').html();
    var tplJudge = $('#judge').html();
    var tplFill = $('#fill').html()

    // 单选
    Vue.component('single', {
        template: tplSingle,
        props: {
            typeId: {
                type: [String, Number],
                default: ''
            },
            type: {
                type: [String, Number],
                default: ''
            },
            isAnswer: Number,
            index: Number,
            question: Object,
        },
        data: function() {
            return {
                model: ''
            }
        },
        mounted: function () {
            if(this.isAnswer) {
                this.model = this.question.user_answer
            }
        },
        methods: {
            getDisplayValue(value) {
                var displayValue = '';
                this.question.answer_list.forEach(function (item) {
                    if (item.value == value) {
                        displayValue = item.flag;
                    }
                })
                return displayValue;
            },
            getValue: function () {
                return {
                    typeId: this.typeId,
                    type: this.type,
                    id: this.question.id,
                    answer: this.model
                };
            },
        }
    });
    // 多选
    Vue.component('multiple', {
        template: tplMultiple,
        props: {
            typeId: {
                type: [String, Number],
                default: ''
            },
            type: {
                type: [String, Number],
                default: ''
            },
            isAnswer: Number,
            index: Number,
            question: Object,
        },
        data: function() {
            return {
                model: [],
            }
        },
        mounted: function () {
            if(this.isAnswer) {
                this.model = this.question.user_answer
            }
        },
        methods: {
            getDisplayValue(values) {
                var displayValue = [];
                this.question.answer_list.forEach(function (item) {
                    if (values.indexOf(item.value) > -1) {
                        displayValue.push(item.flag)
                    }
                })
                return displayValue.join(',');
            },
            getValue: function () {
                return {
                    typeId: this.typeId,
                    type: this.type,
                    id: this.question.id,
                    answer: this.model
                };
            }
        }
    });
    // 判断
    Vue.component('judge', {
        template: tplJudge,
        props: {
            typeId: {
                type: [String, Number],
                default: ''
            },
            type: {
                type: [String, Number],
                default: ''
            },
            isAnswer: Number,
            index: Number,
            question: Object,
        },
        data: function() {
            return {
                model: '',
            }
        },
        mounted: function () {
            if(this.isAnswer) {
                this.model = this.question.user_answer
            }
        },
        methods: {
            getDisplayValue(value) {
                var displayValue = '';
                this.question.answer_list.forEach(function (item) {
                    if (item.value == value) {
                        displayValue = item.flag;
                    }
                })
                return displayValue;
            },
            getValue: function () {
                return {
                    typeId: this.typeId,
                    type: this.type,
                    id: this.question.id,
                    answer: this.model
                };
            }
        }
    });
    // 填空
    Vue.component('fill', {
        template: tplFill,
        props: {
            typeId: {
                type: [String, Number],
                default: ''
            },
            type: {
                type: [String, Number],
                default: ''
            },
            isAnswer: Number,
            index: Number,
            question: Object,
        },
        data: function() {
            return {
                questionName: '',
                model: [],
            }
        },
        created: function(){
            var questionName = this.question.question_name;
            var nameSplits = questionName.split('()');
            var answerCount = nameSplits.length - 1;

            for (var index = 0; index < answerCount; index++) {
                if(this.isAnswer
                    && Array.isArray(this.question.answers)
                    && this.question.answers[index]) {
                    this.model.push(this.question.answers[index].user_answer || '');
                } else {
                    this.model.push('');
                }
            }
            var displayName = [];
            nameSplits.forEach(function (txt, index) {
                if (index > 0) {
                    displayName.push('<span class="blanks">' + index + '</span>');
                }
                displayName.push(txt);
            })
            this.questionName = this.index + '.' + displayName.join('');
        },
        mounted: function () {
        },
        methods: {
            getDisplayValue(values) {
                var displayValue = [];
                this.question.answer_list.forEach(function (item) {
                    if (values.indexOf(item.value) > -1) {
                        displayValue.push(item.flag)
                    }
                })
                return displayValue.join(',');
            },
            getValue: function () {
                return {
                    typeId: this.typeId,
                    type: this.type,
                    id: this.question.id,
                    answer: this.model
                };
            }
        }
    });

    var testPage = new Vue({
        el: '#testPage',
        data: function () {
            return {
                QUESTION_TYPES: QUESTION_TYPES,
                paperName: '',
                totalTime: 100000,
                isAnswer: -1,
                userName: '',
                totalScore: '',
                getScore: '',
                singleScore: '',
                multipleScore: '',
                judgeScore: '',
                fillScore: '',
                dateTime: '',
                takenTime: '',
                questions: [],
                answerTime: '',
            }
        },
        mounted: function () {
            this.getPaperInfo();
        },
        methods: {
            getPaperInfo: function () {
                var that = this;
                $.ajax({
                    url: '../data/test/paper.json',
                    type: 'get',
                    data: {},
                    dataType: 'json',
                    success: function (response) {
                        if (response.status == 1) {
                            var resData = response.data;
                            that.paperName = resData.paperName;
                            that.totalTime = resData.totalTime;
                            that.isAnswer = resData.isAnswer;
                            that.userName = resData.userName;
                            that.totalScore = resData.totalScore;
                            that.getScore = resData.getScore;
                            that.singleScore = resData.singleScore;
                            that.multipleScore = resData.multipleScore;
                            that.judgeScore = resData.judgeScore;
                            that.fillScore = resData.fillScore;
                            that.dateTime = resData.dateTime;
                            that.takenTime = resData.takenTime;
                            that.questions = resData.questions;
                        } else {
                            that.$toast(response.msg);
                        }
                    }
                })
            },
            timeFinished: function () {
                var that = this;
                that.$toast({
                    type: "fail",
                    message: "答题时间到",
                    onClose: function () {
                        that.submitData();
                    }
                });
            },
            timeChange: function (timeData) {
                var that = this;
                that.answerTime = that.totalTime - timeData.hours * 60 * 60 * 1000 - timeData.minutes * 60 * 1000 - timeData.seconds * 1000;
            },
            submitData: function () {
                var that = this;
                var answers = [];
                this.$refs.questionItem.forEach(function ($vdom) {
                    answers.push($vdom.getValue());
                });
                // 提交数据
                $.ajax({
                    url: '',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        answerTime: that.answerTime,
                        answers: JSON.stringify(answers)
                    },
                    success: function (response) {
                        if (response.status == 1) {
                            that.$toast({
                                type: "success",
                                message: response.msg,
                                onClose: function () {
                                    location.reload();
                                }
                            });
                        } else {
                            that.$toast(response.msg);
                        }
                    }
                })
            },
            onSubmitBtnClick: function () {
                var that = this;
                window.vant.Dialog.confirm({
                    message: '确定提交？',
                })
                .then(() => {
                    that.submitData();
                })
                .catch(() => {
                    // on cancel
                });
            }
        }
    });
</script>
</body>
</html>
